/* add home page styles here */
.shells {
    display: flex;
    flex-direction: row;
  
}
.shell {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.shell img {
    width: 100px;
}

.ball.reveal {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: aqua;
    border-radius: 50%;
}

